{%extends "blog/base.html"%}

{%block content%}

<div class='content-section'>
    <h2>{{ post.title }}</h2>
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid mb-2" alt="Post image">
    {% endif %}
    <p>{{ post.content }}</p>
    <hr>
    <small>{{post.created_at}} </small>
    <div class="btn-group"> 
        {% if user == post.author or user.is_staff %}
            <a href="{% url 'post-update' post.pk %}" class="btn btn-sm btn-online-secondary">Edit</a>
            <a href="{% url 'post-delete' post.pk %}" class="btn btn-sm btn-online-danger">Delete</a>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-sm btn-online-secondary" >Return Home</a>
    </div>
</div>

{% endblock %}